@font-face {
  font-family: "ybold";
  src: url("../static/YonseiBold.ttf");
}
@font-face {
  font-family: "ylight";
  src: url("../static/YonseiLight.ttf");
}
body {
  font-family: "ylight";
}
h1, h2{
  text-align: center;
}
main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: auto;
}
form {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  margin: auto;
  padding: auto;
  width: 30vw;
}
footer {
  text-align: center;
}